<div class="animated fadeIn">


    <div class="row" ng-init="initSetupVolumePage('Treasury Bills')">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <b>Create Volume</b>
                </div>
                <div class="card-body">
                    <!--<input type="hidden" name="instrumentType" value="1" ng-model="volume.InstrumentType">-->
                    <form class="row container" name="createVolumeForm">
                        <div class="form-group col-sm-12">
                            <label for="name" class="col-sm-7 control-label"> <b>Set Volume</b> </label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="name" id="name" ng-model="volume.InitialVolume" required>
                            </div>

                        </div>
                        <div class="form-group col-sm-12">
                            <label for="name" class="col-sm-7 control-label"><b>Security Name</b>  </label>
                            <div class="col-sm-5">

                                <select class="form-control" id="securitytype" ng-options="x.InstrumentName for x in securityList" ng-model="selectedInstrumentName" required></select>
                                <br />
                                <button class="btn btn-outline-primary" style="width: 150px" ng-click="saveTradeVolume()" ng-disabled="createVolumeForm.$invalid"><b>Create</b> </button>
                            </div>
                        </div>
                    </form>
                    <br /><br />
                    <div class="">
                        <p class="card-header">list of created volumes</p>
                        <br />
                        <table class="table table-condensed table-striped table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col"> Security Name</th>
                                    <th scope="col">  Volume</th>
                                    <th scope="col"> Volume Bought</th>
                                    <th scope="col"> Volume Sold</th>
                                    <!--<th scope="col"> Status</th>-->
                                    <th scope="col">Created by</th>
                                    <!--<th scope="col"> Updated by</th>-->
                                    <th scope="col">Date Created</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="items in gettradevolumes">
                                    <th scope="row">{{$index + 1}}</th>
                                    <td>{{items.InstrumentName}}</td>
                                    <td>{{items.InitialVolume | currency:'₦' :0 }}</td>
                                    <td>{{items.VolumeBought |  currency:'₦' :0}}</td>
                                    <td>{{items.VolumeSold |  currency:'₦' :0}}</td>
                                    <!--<td>{{items.Status}}</td>-->
                                    <td>{{items.CreatedBy}}</td>
                                    <!--<td>{{items.UpdatedBy}}</td>-->
                                    <td>{{items.DateCreated | date: 'dd-MMMM-yyyy'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

    </div>


</div>