<div class="animated fadeIn">


    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
         
                </div>
                <div class="card-body">
                    <p class="card-header alert-success">Create new password</p>
                    <div class="container col-md-6 col-md-offset-3">

                        <br /><br />
                        <form name="changePwdForm" novalidate>
                            <div class="login">
                                <div class="row">
                                    <div class="col-md-2">
                                        Old Password:
                                    </div>
                                    <div class="col-md-10">
                                        <input type="password" name="OldPassword" class="form-control"
                                               data-ng-model="user.OldPassword"
                                               data-ng-minlength="6"
                                               required />
                                        <span class="errorMessage" ng-show="changePwdForm.OldPassword.$touched && changePwdForm.OldPassword.$invalid">
                                            *Required
                                        </span>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-2">
                                        New Password:
                                    </div>
                                    <div class="col-md-10">
                                        <input type="password" name="NewPassword" class="form-control"
                                               data-ng-model="user.NewPassword"
                                               data-ng-minlength="6"
                                               required />
                                        <span class="errorMessage" ng-show="changePwdForm.NewPassword.$touched && changePwdForm.NewPassword.$invalid">
                                            *Required
                                        </span>
                                    </div>
                                </div>
                                <br />

                                <div class="row">
                                    <div class="col-md-2">
                                        Confirm Password:
                                    </div>
                                    <div class="col-md-10">
                                        <input type="password" name="ConfirmPassword" class="form-control"
                                               data-ng-model="user.ConfirmPassword"
                                               data-ng-minlength="6"
                                               required />
                                        <span class="errorMessage" ng-show="changePwdForm.NewPassword.$touched && changePwdForm.confirmPassword.$invalid">
                                            *Required
                                        </span>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-outline-primary pull-right"
                                                data-ng-click="login()" style="width:200px"
                                                ng-disabled="changePwdForm.$invalid || !changePwdForm.$dirty">
                                            Continue
                                        </button>
                                    </div>
                                </div>
                                <br />
                                <div class="statusRow">
                                    <br />
                                    <div class="label label-important" data-ng-show="vm.errorMessage">
                                        <span class="glyphicon glyphicon-thumbs-down icon-white"></span>&nbsp;&nbsp;Error: {{ vm.errorMessage }}
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>